parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    # --- Markdown (CommonMark) : TOC + ancres ---
    League\CommonMark\Extension\TableOfContents\TableOfContentsExtension:
        tags:
            - { name: twig.markdown.league_extension }

    League\CommonMark\Extension\HeadingPermalink\HeadingPermalinkExtension:
        tags:
            - { name: twig.markdown.league_extension }

    twig.markdown.league_common_mark_converter_factory:
        class: Twig\Extra\TwigExtraBundle\LeagueCommonMarkConverterFactory
        arguments:
            $extensions: !tagged_iterator twig.markdown.league_extension
            $config:
                table_of_contents:
                    style: ordered      # liste numérotée
                    normalize: 'as-is'  # respecte les niveaux H1/H2/H3
